VITE_SUPABASE_URL=https://citozvaxcwdoefugekgk.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNpdG96dmF4Y3dkb2VmdWdla2drIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTExNzc1MzgsImV4cCI6MjEwNjc1MzUzOH0.nGFzLs0Wa1YpBXd7on750Vd8sayj2t29ebsCGm8blxQ